body {
	
	background-color: #FFF8DC;
}

.game-container {	
	
	background: #8AC007;
	width: 600px;
	height: 600px;
	position: relative;
	box-sizing: border-box;
    margin: auto;
	padding:4px;
	border-radius: 10px;
}

.rezultati {
	background:#ff80ff;
	width:600px;
	position:relative;
	margin:auto;
	
}

#score {
	background:#00ff00;
	width:60px;
	height:30px;
	position:relative;
	margin:auto;
	box-sizing:border-box;
	text-align: center;
}

#best {
	background:#00ff00;
	width:60px;
	height:30px;
	box-sizing:border-box;
	text-align: center;
	
}

.red {	
	
	background: #ff0000;
	/*background:#8AC007;*/
	width:593px;
	height:148px;
	box-sizing: border-box;	
	border-radius: 7px;
	margin-left:1px;
	padding:2.5px;
	/*
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
	*/
}

#k1,#k2,#k3,#k4,#k5,#k6,#k7,#k8,#k9,#k10,#k11,#k12,#k13,#k14,#k15,#k16 {
		
	background: #ffffff;
	width: 142px;
	height: 142px;
	float: left;
	box-sizing: border-box;
	margin-left:1px;
	margin-right: 4px;
	border-radius: 6px;
	padding-top:22px;
	text-align:center;
	font-size:85px;
	font-weight:bold;
	font-style:normal;
	color: #ff0000;
	
}


#k15 {
	background:#ffff00;
	color: #ff00ff;
	font-size:75px;
	padding-top:27px;
}

#k16 {
	background:#ffff00;
	color: #ff00ff;
	font-size:65px;
	padding-top:33px;
}

